body{
	background-color: #FBD389;
	color: #000;
}
.moon{
	width: 489px;
	height: 368px;
	display: block;
	margin: 0 auto;
}
#heading {
    text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#profile{
	width: 800px;
    background: #FFFFFF;
    text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#Introduction{
	width: 700px;
	margin-left:auto;
	margin-right:auto;
	text-align: left;
}
h4{
	color: #FFFFFF;
}
dl {
  width:300px;
}
dt {
  float:left;
}
dd {
  margin-left:80px;
}
