body{
	background-color: #FBD389;
	color: #000;
}
.moon{
	width: 489px;
	height: 368px;
	display: block;
	margin: 0 auto;
}
#heading {
    text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#profile{
	width: 350px;
    float: left;
    background: #FFFFFF;
}